.fondo{
    background: url("imagenes/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 1350px;
    height: 520px;
}
body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

}
nav{
background-color:whitesmoke;
} 

ul{ 
display:flex;
justify-content: center;
list-style-type: none ;
margin:0;
padding:0;    
}

li{
    padding: 15px;
} 


li:hover{
background-color: black;    
color:white;
}   